*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;

}

.trove__website{
    width: 90%;
    float: right;
    
}


body{

    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(12, 8, 28, 1) 0%, rgba(8, 12, 61, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(12, 8, 28, 1) 0%, rgba(8, 12, 61, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(12, 8, 28, 1) 0%, rgba(8, 12, 61, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#080C3D', endColorstr='#0C081C', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(12, 8, 28, 1) 0%, rgba(8, 12, 61, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(12, 8, 28, 1) 0%, rgba(8, 12, 61, 1) 100%);

}

 